{% extends base_template %}
{% load socialaccount %}

{% block title %}Create Hotel - HotelManager6000{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title" style="text-align: center;">Create a Hotel</h2><br>
                <form action="{% url 'create_hotel' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Name:</label>
                        <input type="text" class="form-control" name="name_field" id="name" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="location" class="form-label">Location:</label>
                        <input type="text" class="form-control" name="location_field" id="location" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea class="form-control" name="description" id="description" rows="4"></textarea>
                    </div>
                    
                    <div class="mb-3">
                        <label for="hotel_image" class="form-label">Hotel Image:</label>
                        <input type="file" class="form-control" name="hotel_image" id="hotel_image" accept="image/*">
                    </div>
                    
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success">Create Hotel</button>
                        <a href="{% url 'patron:manage_hotels' %}" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 