asgiref==3.8.1
boto3==1.34.34
botocore==1.34.162
dj-database-url==2.3.0
Django==5.2
django-heroku==0.3.1
django-storages==1.14.2
gunicorn==23.0.0
jmespath==1.0.1
packaging==24.2
psycopg2==2.9.10
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
s3transfer==0.10.4
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.13.2
urllib3==2.4.0
whitenoise==6.9.0
